
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div  *ngIf="checkUserLoginStatus.status" >


  <nav class="navbar navbar-expand-lg navbar-light box" style="background:linear-gradient(135deg, #6249c5 0%, #9882f3 100%);position: absolute;width:100%;">
    <!-- <a class="navbar-brand" style="margin-left:3vw ;font-weight: bold;color: aliceblue;" href="#">OffCampus</a> -->
    <div class="image-cont">
      <img src="https://uploads-ssl.webflow.com/6209eec94ae14d8343731fcd/620b2de1bd235d0874b83a8d_interviewkickstart-logo.svg" alt="">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">

        <div class="dropstart" role="group">
          <svg
          id="dropdownMenuButton"
          data-mdb-toggle="dropdown"
          
          aria-expanded="false"
          class="dropdown-toggle"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"/></svg>

          
         
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Home</a></li>
            <li><a routerLink="viewprofile" class="dropdown-item">Profile</a></li>
            <li><a routerLink="courses" class="dropdown-item">My Courses</a></li>
            <li><a routerLink="product/prodlist" class="dropdown-item" >Products</a></li>
            <li><a routerLink="department" class="dropdown-item">Department</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a routerLink="login" (click)="performLogOut()" class="dropdown-item">Logtt Out</a></li>
          </ul>
        </div>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="width: 100%;">
         <!-- <li class="nav-item active">
          <a routerLink="dashboard" class="nav-link" style="color: aliceblue;">Dashboard </a>
        </li>  -->
        <li class="nav-item">
          <a routerLink="dashboard" class="nav-link" style="font-weight: bolder;color: aliceblue;padding-left: 17px;" ><i style="padding-right:5px" class="fas fa-tachometer-alt"></i>DASHBOARD</a>
      </li>
      <li class="nav-item">
        <a routerLink="company" class="nav-link" style="color: aliceblue; width: 119px;"><i style="padding-right: 5px;" class="far fa-clone"></i>COMPANIES</a>
      </li>
      <li class="nav-item ">
        <a routerLink="mock" class="nav-link" href="#" style="color: aliceblue;width: 74px;"><i style="padding-right: 5px;" class="far fa-calendar-alt"></i>MOCK</a>
      </li>
      <li class="nav-item "> 
        <a routerLink="experiencelist" class="nav-link"  style="color: aliceblue; width: 127px;"><i   style="padding-right: 5px;"class="far fa-chart-bar"></i>EXPERIENCES</a>
      </li>
        
      
      </ul>
      
      <ul class="navbar-nav" style="margin-left:-5vw;">
        <li class="nav-item" >
          <a  class="nav-link" style="font-weight: bolder;color: aliceblue;font-size:large;"> {{checkUserLoginStatus.name}} </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link">

            <!-- <div class=""> -->
              <div class="dropstart" role="group">

                <svg
                id="dropdownMenuButton"
                data-mdb-toggle="dropdown"
                style="background-color: aliceblue;"
                aria-expanded="false"
                class="dropdown-toggle"
                xmlns="http://www.w3.org/2000/svg" style="width:25px ;cursor: pointer;fill: white; ;" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/></svg>
               
                <ul class="dropdown-menu">
                  <li><a routerLink="viewprofile" class="dropdown-item" >Profile</a></li>
                  <li><a routerLink="prodlist" class="dropdown-item" >About Us</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a routerLink="login" (click)="performLogOut()" class="dropdown-item">Log Out</a></li>
                </ul>
              </div>
            <!-- </div> -->


          
          </a>
        </li>
      </ul>

     
      
    </div>
  </nav>

</div>

<div *ngIf="!checkUserLoginStatus.status">
  <!-- <nav class="navbar navbar-expand-lg navbar-light box" style="background-color:#4d4899;"> -->
  <nav class="navbar navbar-expand-lg navbar-light box" style="background:linear-gradient(135deg, #6249c5 0%, #9882f3 100%);">
    <div class="image-cont">
      <img src="https://uploads-ssl.webflow.com/6209eec94ae14d8343731fcd/620b2de1bd235d0874b83a8d_interviewkickstart-logo.svg" alt="">
    </div>
    <!-- <a class="navbar-brand" style="margin-left:3vw ;font-weight: bold;color: aliceblue;" href="#">OffCampus</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">

        <div class="dropstart" role="group">
          <svg
          id="dropdownMenuButton"
          data-mdb-toggle="dropdown"
          
          aria-expanded="false"
          class="dropdown-toggle"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"/></svg>

          
         
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Home</a></li>
            <li><a class="dropdown-item" href="#">Register</a></li>
            <li><a routerLink="login" class="dropdown-item">Login</a></li>
            
          </ul>
        </div>
      </span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarNav">
     
      <ul class="navbar-nav ttt " style="width: 100%;margin-left:50%;">
        <li class="nav-item ">
          <a routerLink="home" class="nav-link"  style="color: aliceblue;">Home</a>
        </li>
        <li class="nav-item ">
          <a routerLink="register" class="nav-link"  style="color: aliceblue;">Register</a>
        </li>
        <li class="nav-item ">
          <a routerLink="login" class="nav-link"  style="color: aliceblue;">Login</a>
        </li>
        
      </ul>

     
      
    </div>
  </nav>


</div>

<br>
<br>
<br>
<br>
<br>

