
.aspect-16to9 {
    height: auto;
    width: 100%;
  }
  
  .p-16to9 {
    position: relative;
    padding-bottom: 56%;
    overflow: hidden;
  }
  
  .card-body-content {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    overflow: hidden;
  }
  .red{
    color: red;
  }
  .blue{
    color: rgb(45, 144, 236);
  }
  .warn{
    background-color: rgb(241, 116, 241);
    color:black
  }
  .green{
    color:rgb(5, 5, 5);
    background-color: rgb(119, 245, 119);
  }
  .space {
	width: 2px;
	height: auto;
	display: inline-block;
  }

  .box:hover {
    /* box-shadow: 0 0 22px rgba(33,33,33,.2); */
    box-shadow: 0 0 20px grey;
    
  }

  /* page heading card */
  .heading-container{
    border: 1px solid;
    margin-top: 20px;
    height: 25%;
    border-radius: 8px;
    width: 89%;
    margin-left: 70px;
    background-color: #0A2541;
    background-image: url(https://classroom.codingninjas.com/banner-overlay.32948467e4c0a8257463.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto 100%;

}

.banner-heading{
    color:#FFFFFF;
    font: 500 30px/37px Mulish,Roboto,Helvetica Neue,sans-serif;
    margin-top: 14px;
    margin-left: 21px;

}
.banner-para{
    color: #e1e1e3;
    font: 400 16px/22px Mulish,Roboto,Helvetica Neue,sans-serif;
    margin-top: -15px;
    margin-left: 21px;
}
