<!-- 

<div class="heading-container mb-24">
    <h1 class="banner-heading mb-4">
        INTERVIEW EXPERIENCES
    </h1>
    <p class="banner-para">
        Learn from experienced and make yourself ready to crack interviews.
    </p>
</div>


    
    
<div class="exp-body">
    <div class="col-md-2 creat-but"> 
        
        <button mat-flat-button color="accent" (click)="create()" class="Row">Create</button>
    </div>
</div>


<div class="row" style="width: 100%;margin-bottom: 20px;">    
    <div class="col-md-1"></div>
    <div class="col-md-5" *ngFor="let obj of interviewExpArray" >
        
            <mat-card class="materialcard" >
                <div class="row">
                    <div class="col-md-1"><i class="fas fa-caret-up fa-lg" style="float:initial;" (click)="like(obj.id)" ></i><p>{{obj.like}}</p></div>
                    <div class="col-md-11">
                        <mat-card-title>
                            {{obj.title}}
                            
                        </mat-card-title>
                        
                        <mat-card-subtitle>Created By {{obj.authorName}}</mat-card-subtitle>
                        
                        <mat-card-content>
                        
                          <p class="break" [innerHtml]="obj.description|Description:obj.description"></p>
                          <a href="/view/{{obj.id}}" (click)="view(obj.id)">Read more</a>
                              
                        </mat-card-content>
                        <mat-card-footer>
                            <div class="row">
                                <div class="col-md-3">
                                    <p >Published On:- {{obj.date|date:'yyyy-MM-dd'}}</p> 
                                </div>
                                <div class="col-md-3">
                                    <button mat-icon-button  class="blue" style="float: right;" class="btn btn-outline-primary" (click)="edit(obj.id)">
                                        <mat-icon>edit</mat-icon>
                                      </button>
        
                                      <button mat-icon-button color="accent" style="float: right;margin-right: 5px;" class="red" class="btn btn-outline-danger" (click)="delete(obj.id)" >
                                        <mat-icon>delete</mat-icon>
                                      </button> 
                                </div>
                            
                            </div>
                            
                        </mat-card-footer>
        
                    </div>
                </div>
                
            </mat-card>
            
       

    </div>
   
    <div class="col-md-1"></div>

</div>
 -->


<div class="heading-container  mb-24">
    <h1 class="banner-heading mb-4">
        INTERVIEW EXPERIENCES
    </h1>
    <p class="banner-para">
        Learn from experienced and make yourself ready to crack interviews.
    </p>
    <p class="banner-para">
        Your 15 mins can help someone to get a job. Share your brief interview experience <a href="/create" routerLink="/create">here</a>
    </p>
</div>

<div style="margin-top: 25px;"></div>
<div class="container">
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="50%" *ngFor="let obj of interviewExpArray">
                <div class="shadow p-2 mb-2 bg-white rounded">
                    <mat-card class="example-card">
                        <mat-card-title>
                            <div class="row">
                                <div class="col-md-10">
                                    {{obj.title}}
                                </div>
                                <div class="col-md-2" >
                                    <button style="margin-right:20px" mat-icon-button class="blue" class="btn btn-primary"
                                        (click)="edit(obj.id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button  class="red" class="btn btn-danger"
                                        (click)="delete(obj.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>

                                </div>
                            </div>

                        </mat-card-title>
                        <mat-card-subtitle>Created By: {{obj.authorName}} | {{obj.company}} | Last Updated: {{obj.date|date:'yyyy-MM-dd'}}</mat-card-subtitle>
                        <mat-card-content>

                            <p class="break" [innerHtml]="obj.description|Description:obj.description"></p>

                        </mat-card-content>
                        <mat-card-actions>
                            <div class="row col-md-12">
                                <div class="col-md-3">
                                    <button mat-raised-button class="btn btn-info"
                                        (click)="view(obj.id)">View</button>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                      
                                </div>

                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>