*{
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 994px) {
	.remove{
    display: none !important;
  }
  .padd{
    margin-left: 10%;
  }
  
  } 

  
@media only screen and (min-width: 994px) {
	.remove-top{
    display: none !important;
  }
  
  } 


  
.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

  /* min-height: 200px; */
  /* width: 50vw; */
  /* margin: 100px auto; */
  background: white;
  border-radius: 5px;
}

.txt{
  font-size: 20px;
  margin-left: 7%;
}



/* code by srushti  */

body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;    
}
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}
/* code by srushti  */ 

.blue{
  color: rgb(45, 144, 236);
}

h3{
  color: rgb(25, 134, 236) !important;
}

h2{
  color: rgb(12, 122, 225);
}
