<div class="container-fluid" style="display:flex;align-items: center;height: 100vh;">
    <div class="remove box" style="height:100%;width: 20%;background:linear-gradient(135deg, #6249c5 0%, #9882f3 100%);">
        <ul style="list-style:none;margin-top:34%;color:aliceblue ;">
            <li style="margin-bottom:10%;"><a class="txt" routerLink="/viewprofile"
                    style="text-decoration: none;color:aliceblue ;"><i class="fas fa-qrcode"
                        style="margin-right:5px ;"></i>View Profile</a></li>
            <hr style="margin-bottom:10% ;">
            <li style="margin-bottom:10%;"><a class="txt" routerLink="/editprofile"
                    style="text-decoration: none;color:aliceblue ;"><i class="fas fa-link"
                        style="margin-right:5px ;"></i>Edit Profile</a></li>
            <hr style="margin-bottom:10% ;">
            <li style="margin-bottom:10%;"><a class="txt" href="#" style="text-decoration: none;color:aliceblue ;"><i
                        class="fas fa-stream" style="margin-right:5px ;"></i>Forgot Password</a></li>
            <hr style="margin-bottom:10% ;">
            <li><a class="txt" style="text-decoration: none;color:aliceblue ;"><i class="fas fa-calendar-week"
                        style="margin-right:5px ;"></i>My Interviews</a></li>

        </ul>
    </div>
    <div style="height:400px ;width: 80%;">

        <!-- test  -->
        <div class="remove-top" style="background:linear-gradient(135deg, #6249c5 0%, #9882f3 100%);display: flex;width: 100%;margin-left: 10%;">
            <ul style="list-style:none;color:aliceblue;width: 100%;">
                <li style="margin-top: 2%;margin-bottom: 2%;"><a routerLink="/viewprofile"
                        style="text-decoration: none;color:aliceblue ;"><i class="fas fa-qrcode"
                            style="margin-right:2% ;"></i>View Profile</a></li>
                <li style="margin-bottom: 2%;"><a routerLink="/editprofile"
                        style="text-decoration: none;color:aliceblue ;"><i class="fas fa-link"
                            style="margin-right:2% ;"></i>Edit Profile</a></li>
                <li style="margin-bottom: 2%;"><a href="#" style="text-decoration: none;color:aliceblue ;"><i
                            class="fas fa-stream" style="margin-right:2% ;"></i>Forgot Password</a></li>
                <li style="margin-bottom: 2%;"><a href="#" style="text-decoration: none;color:aliceblue ;"><i
                            class="fas fa-calendar-week" style="margin-right:2% ;"></i>My Interviews</a></li>

            </ul>
        </div>

        <!-- test  -->

        <div class="container">

            <div class="row" style="width:30% ;">

            </div>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">

                    <div class="container">

                        <div class="row">

                            <!-- <div class="col-md-2"></div> -->
                            <div class="container h-80">
                                <div class="row d-flex  text-align: left h-100" style="width:100% ;">
                                    <!-- <div class="col-md-1"></div> -->
                                    <div class="col-md-10">

                                        <!-- <div class="col-12 col-md-12 col-lg-0 col-xl-6"> -->
                                        <div class="shadow mb-3 bg-white rounded">
                                            <div class="card" style="border-radius: 15px; width: 100% !important;">
                                                <div class="card-body p-5">
                                                   

                                                    <div class="container">
                                                        <div class="col-md-6 padd">

                                                            <h2 class="text-uppercase  mb-3">Profile Details</h2>

                                                        </div>
                                                        <div class="row">

                                                            <div class="col-md-1">

                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="row">
                                                                    
                                                                    <div class="col-md-6 padd">
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                               

                                                            </div>




                                                            <div class="col-md-1">

                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="row">
                                                                    <div class="col-md-6 padd">

                                                                      
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <h3>
                                                                                    <strong> Name:</strong> 
                                                                                </h3>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <h3>
                                                                                  {{dataTofill.name}}
                                                                                </h3>
                                                                            </div>
                                                                        </div>

                                                                        

                                                                    </div>
                                                                    <div class="col-md-6 padd">

                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <h3>
                                                                                    <strong> College:</strong> 
                                                                                </h3>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <h3>
                                                                                  {{dataTofill.college}}
                                                                                </h3>
                                                                            </div>
                                                                        </div>
                                                                      
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                               

                                                            </div>

                                                            <!-- row 2 -->
                                                            <div class="col-md-1">

                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="row">
                                                                    <div class="col-md-6 padd">

                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <h3>
                                                                                    <strong> Branch:</strong> 
                                                                                </h3>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <h3>
                                                                                  {{dataTofill.branch}}
                                                                                </h3>
                                                                            </div>
                                                                        </div>

                                                                        

                                                                    </div>
                                                                    <div class="col-md-6 padd">

                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <h3>
                                                                                    <strong> Mobile:</strong> 
                                                                                </h3>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <h3>
                                                                                  {{dataTofill.mobile}}
                                                                                </h3>
                                                                            </div>
                                                                        </div>
                                                                       
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                               

                                                            </div>


                                                            <!-- row 3  -->
                                                            <div class="col-md-1">

                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="row">
                                                                    <div class="col-md-6 padd">
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <h3>
                                                                                    <strong> Email:</strong> 
                                                                                </h3>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <h3>
                                                                                  {{dataTofill.email}}
                                                                                </h3>
                                                                            </div>
                                                                        </div>
                                                                       
                                                                    </div>
                                                                    <div class="col-md-6 padd">
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <h3>
                                                                                    <strong> Batch:</strong> 
                                                                                </h3>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <h3>
                                                                                  {{dataTofill.batch}}
                                                                                </h3>
                                                                            </div>
                                                                        </div>
                                                                       
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                               

                                                            </div>

                                                            <!-- row 4  -->
                                                            <div class="col-md-1">

                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="row">
                                                                    <div class="col-md-6 padd">
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <h3>
                                                                                    <strong> Skills:</strong> 
                                                                                </h3>
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <h3>
                                                                                  {{dataTofill.skills}}
                                                                                </h3>
                                                                            </div>
                                                                        </div>

                                                                       

                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                               

                                                            </div>

                                                            <!-- row 5  -->
                                                            <div class="col-md-1">

                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="row">
                                                                    <div class="col-md-6 padd">

                                                                        <h3>
                                                                            <!-- <button class="btn btn-sm"
                                                                            style="background-color:rgb(65, 140, 214);color: aliceblue;padding: 10px;"
                                                                            mat-raised-button color="accent">Edit</button> -->
                                                                            <!-- <button mat-icon-button routerLink="/editprofile"  class="blue" class="btn btn-outline-primary" >
                                                                                <mat-icon class="m-3">edit</mat-icon>
                                                                              </button> -->
                                                                        </h3>

                                                                    </div>
                                                                  
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                               

                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>