<!-- <div> -->
    
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i style="color:white;" class="fas fa-times" id="cancel"></i>
    </label>

    
    <div class="sidebar">
    <header>My App</header>
    <ul>
     <li><a href="#"><i class="fas fa-qrcode"></i>Dashboard</a></li>
     <li><a href="#"><i class="fas fa-link"></i>Shortcuts</a></li>
     <li><a href="#"><i class="fas fa-stream"></i>Overview</a></li>
     <li><a href="#"><i class="fas fa-calendar-week"></i>Events</a></li>
     <!-- <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
     <li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
     <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li> -->
    </ul>
   </div>
   <section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-11">
                <form [formGroup]="personForm" (ngSubmit)="submit()" class="mt-5">
 
                    <div class="container">
                 
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <mat-form-field class="example-form-field" appearance="fill">
                                    <mat-label >Name</mat-label>
                                    <input required matInput type="text" formControlName="name">
                                    <mat-error *ngIf="personForm.get('name')!.errors!==null && personForm.get('name')!.errors!['required']">
                                        name is required  
                                    </mat-error>
                                    <mat-error *ngIf="personForm.get('name')!.errors!==null && personForm.get('name')!.errors?.['maxlength']">
                                        Length must be less than 7
                                        </mat-error>
                                   
                                  </mat-form-field>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <mat-form-field class="example-form-field extra" appearance="fill">
                                    <mat-label class="extral">Description</mat-label>
                                    <input required matInput type="text" formControlName="description">
                                    <mat-error>
                                        Description is required  
                                    </mat-error>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <mat-form-field class="example-form-field extra" appearance="fill">
                                    <mat-label class="extral" >Color</mat-label>
                                    <input required matInput type="text" formControlName="color">
                                    <mat-error>
                                        Color is required  
                                    </mat-error>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <mat-form-field class="example-form-field" appearance="fill">
                                    <mat-label>Price</mat-label>
                                    <input required matInput type="text" formControlName="price">
                                    <mat-error *ngIf="personForm.get('price')!.errors!==null && personForm.get('price')!.errors!['required']">
                                        price is required  
                                    </mat-error>
                                    <mat-error *ngIf="personForm.get('price')!.errors!==null && personForm.get('price')!.errors?.['max']">
                                       price must be less than 100
                                        </mat-error>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <mat-form-field class="example-form-field extra" appearance="fill">
                                    <mat-label class="extral">In Stock Quantity</mat-label>
                                    <input required matInput type="text" formControlName="inStockQuantity">
                                    <mat-error>
                                       quantity is required  
                   
                                      </mat-error>
                                  </mat-form-field>
                            </div> 
                            <div class="col-md-4 col-sm-6">
                                 <mat-form-field appearance="fill" class="extra">
                                    <mat-label class="extral">Category</mat-label>
                                    <mat-select required selectValidate name="gender"  formControlName="category">
                                      <mat-option *ngFor="let g of genders" [value]="g.Text">
                                        {{g.Text}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        Category is required  
                    
                                       </mat-error>
                                  
                                  </mat-form-field> 
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <mat-form-field class="example-form-field " appearance="fill">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="text" formControlName="email">
                                    <mat-error *ngIf="personForm.get('email')!.errors!==null && personForm.get('email')!.errors!['emailmismatch']">
                                      Email is invalid.
                                      </mat-error>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                           
                        </div>
                        <div class="row">
                           
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button class="btn btn-sm" mat-raised-button color="accent">Submit</button>
                
                            </div>
                        </div>
                
                    </div>
                
                
                </form>
            </div>
        </div>
    </div>

   </section>
 
<!-- </div> -->