

     
    <div class="container-fluid" style="display:flex;align-items:flex-start;height: 100vh;">
        <div class="remove box" style="height:100%;width: 20%;background:linear-gradient(135deg, #6249c5 0%, #9882f3 100%)">
            <ul style="list-style:none;margin-top:34%;color:aliceblue ;">
                <li  style="margin-bottom:10%;" ><a class="txt" routerLink="/viewprofile"style="text-decoration: none;color:aliceblue ;"><i class="fas fa-qrcode" style="margin-right:5px ;"></i>View Profile</a></li>
                <hr style="margin-bottom:10% ;">
                <li style="margin-bottom:10%;"><a class="txt" routerLink="/editprofile" style="text-decoration: none;color:aliceblue ;"><i class="fas fa-link" style="margin-right:5px ;"></i>Edit Profile</a></li>
                <hr style="margin-bottom:10% ;">
                <li style="margin-bottom:10%;"><a class="txt" href="#" style="text-decoration: none;color:aliceblue ;"><i class="fas fa-stream" style="margin-right:5px ;"></i>Forgot Password</a></li>
                <hr style="margin-bottom:10% ;">
                <li><a class="txt" style="text-decoration: none;color:aliceblue ;"><i class="fas fa-calendar-week" style="margin-right:5px ;"></i>My Interviews</a></li>
                
               </ul>
        </div> 
        <div  style="height:400px ;width: 80%;">

             <!-- test  -->
             <div class="remove-top" style="background:linear-gradient(135deg, #6249c5 0%, #9882f3 100%);display: flex;width: 100%;">
                <ul style="list-style:none;color:aliceblue;width: 100%;">
                    <li style="margin-top: 2%;margin-bottom: 2%;"  ><a routerLink="/viewprofile" style="text-decoration: none;color:aliceblue ;"><i class="fas fa-qrcode" style="margin-right:2% ;" ></i>View Profile</a></li>
                     <li style="margin-bottom: 2%;"><a routerLink="/editprofile" style="text-decoration: none;color:aliceblue ;"><i class="fas fa-link" style="margin-right:2% ;" ></i>Edit Profile</a></li>
                    <li style="margin-bottom: 2%;"><a href="#" style="text-decoration: none;color:aliceblue ;"><i class="fas fa-stream" style="margin-right:2% ;" ></i>Forgot Password</a></li>
                    <li style="margin-bottom: 2%;"><a href="#" style="text-decoration: none;color:aliceblue ;"><i class="fas fa-calendar-week" style="margin-right:2% ;" ></i>My Interviews</a></li>
                    
                   </ul>
             </div>
       
        <!-- test  -->
            
    <div class="container">

        <div class="row" style="width:30% ;">
           
        </div>
        <div class="row" >
            <div class="col-md-1">

            </div>
            <div class="col-md-11">
                <form [formGroup]="personForm" (ngSubmit)="submit()" class="mt-5">
 
                    <div class="container">
                 
                        <div class="row">
                            <div class="mb-3 col-md-6 col-sm-12">
                                <mat-form-field style="width:70% ;" class="example-form-field" appearance="fill">
                                    <mat-label >Name</mat-label>
                                    <input required matInput type="text" formControlName="name">
                                    <mat-error *ngIf="personForm.get('name')!.errors!==null && personForm.get('name')!.errors!['required']">
                                        name is required  
                                    </mat-error>
                                    <mat-error *ngIf="personForm.get('name')!.errors!==null && personForm.get('name')!.errors?.['maxlength']">
                                        Length must be less than 7
                                        </mat-error>
                                   
                                  </mat-form-field>
                            </div>
                            <div class="mb-3 col-md-6 col-sm-12">
                                <mat-form-field style="width:70% ;"  class="example-form-field extra" appearance="fill">
                                    <mat-label class="extral">College</mat-label>
                                    <input required matInput type="text" formControlName="college">
                                    <mat-error>
                                        College is required  
                                    </mat-error>
                                  </mat-form-field>
                            </div>
                            <div class="mb-3 col-md-6 col-sm-12">
                                <mat-form-field style="width:70% ;"  class="example-form-field extra" appearance="fill">
                                    <mat-label class="extral" >Branch</mat-label>
                                    <input required matInput type="text" formControlName="branch">
                                    <mat-error>
                                        Branch is required  
                                    </mat-error>
                                  </mat-form-field>
                            </div>
                            <div class="mb-3 col-md-6 col-sm-12">
                                <mat-form-field style="width:70% ;"  class="example-form-field" appearance="fill">
                                    <mat-label>Mobile</mat-label>
                                    <input required matInput type="text" formControlName="mobile">
                                    <mat-error *ngIf="personForm.get('mobile')!.errors!==null && personForm.get('mobile')!.errors!['required']">
                                        Mobile is required  
                                    </mat-error>
                                    <mat-error *ngIf="personForm.get('mobile')!.errors!==null && personForm.get('mobile')!.errors?.['max']">
                                       Mobile must be of 10 digits
                                        </mat-error>
                                  </mat-form-field>
                            </div>
                            <div class="mb-3 col-md-6 col-sm-12">
                                <mat-form-field style="width:70% ;"  class="example-form-field extra" appearance="fill">
                                    <mat-label class="extral">Email</mat-label>
                                    <input required matInput type="text"  formControlName="email"    >
                                    <mat-error *ngIf="personForm.get('email')!.errors!==null && personForm.get('email')!.errors!['emailmismatch']">
                                        Email is invalid.
                                        </mat-error>
                                  </mat-form-field>
                            </div> 
                            <div class="mb-3 col-md-6 col-sm-12">
                                 <mat-form-field style="width:70% ;"  appearance="fill" class="extra">
                                    <mat-label class="extral">Batch</mat-label>
                                    <mat-select required selectValidate name="gender"  formControlName="batch">
                                      <mat-option *ngFor="let g of BatchesArr" [value]="g.Text">
                                        {{g.Text}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        Batch is required  
                    
                                       </mat-error>
                                  
                                  </mat-form-field> 
                            </div>
                            <div class="mb-3 col-md-6 col-sm-12">
                                <mat-form-field style="width:70% ;"  class="example-form-field " appearance="fill">
                                    <mat-label>Skills</mat-label>
                                    <input matInput type="text" formControlName="skills">
                                    <mat-error>
                                        Skills is required  
                    
                                       </mat-error>
                                    
                                  </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                           
                        </div>
                        <div class="row">
                           
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button (click)="submit()" class="btn btn-sm p-3" style="background-color:rgb(65, 140, 214);color: aliceblue;" mat-raised-button color="accent">Submit</button>
                
                            </div>
                        </div>
                
                    </div>
                
                
                </form>
            </div>
        </div>
    </div>
        </div>
    </div>
  


   



