*{
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 994px) {
	.remove{
    display: none !important;
  }
  
  } 

  
@media only screen and (min-width: 994px) {
	.remove-top{
    display: none !important;
  }
  
  } 


  
.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

  /* min-height: 200px; */
  /* width: 50vw; */
  /* margin: 100px auto; */
  background: white;
  border-radius: 5px;
}

.txt{
  font-size: 20px;
  margin-left: 7%;
}

