<div class="row" style="width: 100%;">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h1 style="font-weight: bold;font-size: xx-large;">{{postList.title}}</h1>
    </div>
    
        <!-- <button style="margin-right:100px;float: right;" mat-icon-button class="blue" (click)="edit(postList.id)"
            class="btn btn-outline-primary">
            <mat-icon>edit</mat-icon>
        </button>
     -->
    <div class="col-md-1">
        <button style="float: right;" class="btn btn-outline-dark"  name="submitbutton" (click)="BackToList()" >Back</button>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-5">
        <div class="row">
            
            <div class="col-md-5">
                <p>Created By:- {{postList.authorName}}</p>
            </div>
            <div class="col-md-5">
                <p>Last Updated: {{postList.date|date:'yyyy-MM-dd'}}</p>
            </div>
        </div>
        
    </div>
    <div class="col-md-1"></div>
</div> -->

<!-- description -->
<div class="row" style="width: 100%;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3 [innerHtml]="postList.description"></h3>
    </div>
    <div class="col-md-1"></div>
</div>

