 <!-- <app-navbar [checkUserLoginStatus]="checkIfLogin()"></app-navbar> -->


<!-- 
 <div>
   
    <div class="welcome">
      <h1 style="font-size:xx-large ;font-weight: bolder;">Welcome to globallogic</h1>
    </div>
     
 </div> -->



      <div class="container mt-5">
         <div class="card">
            <div class="img">
               <img src="../../assets/bg.jpg" />
            </div>
            <div class="top-text">
               <div class="name">
                  Annie Lea
               </div>
               <p class="colorchange">
                  Apps Developer
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
               </div>
               <div class="btn">
                  <a href="#">Read more</a>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="../../assets/bg.jpg">
            </div>
            <div class="top-text">
               <div class="name">
                  Eliana Maia
               </div>
               <p class="colorchange">
                  Website Developer
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
               </div>
               <div class="btn">
                  <a href="#">Read more</a>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="../../assets/bg.jpg">
            </div>
            <div class="top-text">
               <div class="name">
                  Harley Briana
               </div>
               <p class="colorchange">
                  Graphic Developer
               </p>
            </div>
            <div class="bottom-text">
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
               </div>
               <div class="btn">
                  <a href="#">Read more</a>
               </div>
            </div>
         </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="container-fluid content pb-5">

        <div class="row">
          <div class="col-md-1">

          </div>
          <div class="col-md-10 content-inner" style="font-size:larger;line-height:30px">
            <p>This project is for the use of users(mainly students) to participate in structured interviews, explore company drives, and learn from other person interview experience to amplify their confidence
and make oneself ready for interviews. Students will connect with the expertise for evaluating their performance, based on the feedback from interviewer, users can make their interview better and can stand
in this zealous world. This project fascinates users to share their own experiences with others and can
connect expert and companies to users. This project targets to give interview practice to users to boost their performance, providing information about recruitment drives to explore and provide interview
experience of others which provide roadmap for best performance.
            </p>
          </div>
        </div>

      </div>
   

  